body {
    padding: 0;
    margin: 0;
}

.info-wrapper {
    position: fixed;
    top: 20px;
    left: 20px;
    color: azure;
}

.info-wrapper h2 {
    font-size: 25px;
    background: dodgerblue;
    padding-left: 8px;
}

.info-wrapper h3 {
    font-size: 13px;
    padding-left: 8px;
}

.keymap-wrapper {
    position: fixed;
    top: 200px;
    margin-top: 50px;
    margin-left: 15px;
}

.keymap-wrapper img {
    width: 300px;
}

#blinder {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

#game-info {
    position: absolute;
    color: white;
    font-size: 100px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}